parameters:
    twig:
        forbidden_functions: []

parametersSchema:
    twig: structure([
        template_path: string(),
        forbidden_functions: schema(listOf(string()), nullable())
    ])

services:
    -
        class: PhpStanTwigAnalysis\PhpStan\CheckTwigRulesRule
        tags:
            - phpstan.rules.rule
        arguments:
            - %twig.template_path%
            - tagged(twig_rule)

    -
        class: PhpStanTwigAnalysis\Twig\Rule\ForbiddenFunctionsRule
        arguments:
            - %twig.forbidden_functions%
        tags:
            - twig_rule
