includes:
    - ../config/parametersSchema.neon
    - ../config/services.neon

parametersSchema:
    template_dir: string()

services:
    -
        class: PhpStanTwigAnalysis\PhpStan\TwigFactoryForTesting
        arguments:
            templateDir: %template_dir%
