parametersSchema:
    template_dir: string()

services:
    twigFactory:
        class: PhpStanTwigAnalysis\PhpStan\TwigFactoryForTesting
        arguments:
            templateDir: %template_dir%

    twig: @twigFactory::create()
