services:
    -
        class: PhpStanTwigAnalysis\PhpStan\CollectTwigTemplateNames
        tags:
            - phpstan.collector

    -
        class: PhpStanTwigAnalysis\PhpStan\CheckTwigRulesRule
        tags:
            - phpstan.rules.rule
        arguments:
            reportUnusedTemplates: %twig.report_unused_templates%

    -
        class: PhpStanTwigAnalysis\Twig\TwigAnalyzer
        arguments:
            twigRules: tagged(twig_rule)
